/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    transition: background-color 0.3s, color 0.3s;
}

.dark {
    background-color: #343a40;
    color: #f8f9fa;
}

/* Header Styles */
header {
    background-color: #007bff;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header .icons i {
    margin-left: 1rem;
    cursor: pointer;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}

table thead {
    background-color: #f8f9fa;
    color: #343a40;
    text-align: left;
}

.dark table thead {
    background-color: #495057;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    font-weight: 600;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.dark table tbody tr:hover {
    background-color: #616161;
}

.dashboard-card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    transition: background 0.3s, color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.dark .dashboard-card {
    background: #495057;
    color: white;
}
